baseURL = 'https://oatkachenko.github.io/'
languageCode = 'en-us'
title = "LowLevel Log"
author = "Oleg Tkachenko"
theme = 'bear-blog'
enableRobotsTXT = true

[params]
  description="LowLevel Log"
  hideMadeWithLine = true
[menu]
  [[menu.main]]
    name = "Home"
    url  = "/"
    weight = 1
  [[menu.main]]
    name = "Blog"
    url  = "/blog/"
    weight = 3

[markup]
  [markup.highlight]
    style = 'friendly'
    lineNos = true
    lineNumbersInTable = false
    codeFences = true
